.form-todo  .btn {
  margin-bottom: 10px;
}

.form-todo .input-medium {
  width: 250px;
}

.form-todo .dropdown-menu a {
  cursor: pointer;
}

button#todo-priority {
  width: 105px;
}

footer p {
  margin-right: 20px;
  text-align: right;
}